body {
    font-family: Arial, sans-serif;
    padding: 0;
    line-height: 1.6;
    background-color: #ECE2D6;
    box-sizing: border-box;
    margin: 10px;
}

header {
    padding: 10px;
    text-align: center;
}

.container {
    /* padding: 1em; */
    align-content: center;
    max-width: 640px;
    margin-left: 650px;
    margin-left: auto;
    margin-right: auto;
}

.products {
}

.product {
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 480px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px dashed #BAA06F;
}


.product-name {
    float: left;
    width: 70%;
    font-weight: bolder;
    text-align: left;
    font-size: 15px;
}


.product-price {
    width: 30%;
    font-weight: bolder;
    text-align: right;
}

.product-price2 {
    color: #fff;
    width: 30%;
    font-weight: bolder;
    text-align: right;
}

.product-price span {}

.category {
    margin-bottom: 30px;
    background-color: #fcf5ed;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.dark-bg {
    background-color: #baa17050;
}

.category-title {
    font-weight: bolder;
    text-align: center;
    color: #BAA170;
    margin-bottom: 20px;
    padding-top: 35px;
    font-size: 20px;
}

.name-descr {
    font-size: 14px;
}

.price-img {
    display: inline-block;
    height: 26px;
}

.price-img-bottle {
    display: inline-block;
    height: 37px;
    margin-right: 2px;
}

.hide {
    display: none;
}

p {
    text-align: center;
    color: #000;
    font: 15px sans-serif;
    padding: 5px;
}

.logo {
    width: 220px;
}

h2 {
    display: inline-block;
    font-size: 25px;
    border: 1px solid;
    background: #BAA170;
    width: 120px;
    color: #fff;
    border-radius: 20px;
}
